.btn__category {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 2em;
    margin-bottom : 3em;
}

.btn__category button {
    background-color: var(--background);
    font-size: var(--fs-sm);
    color : var(--text)
}

.btn__category button:hover {
    background-color: var(--main-background);
}

.note__option button {
    min-width : 35px!important;
    width : 55px;
    /* display: flex; */
    padding : 5px;
    margin : 0 2px;
}

.note__option button span {
    margin : 0;
}

.notes__list {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    
}

.note__item {
    width : calc(100% / 3 - 2em);
    margin : 0.5em 1em;
}

@media screen and (max-width: 1024px) {
    .btn__category {
        gap : 0.5em;
        display : flex;
        flex-wrap: wrap;
    }

    .note__item {
        width : 100%;
        margin : 5px 0;
    }
    
}
