.MuiFormControl-root {
    /* margin-top: 0!important; */
}

.Editor__Preview {
    display : flex;
    /* align-items: center; */
    width : 100%;
    /* border : 1px solid black; */
    /* border-radius: 5px; */
}

.editor {
    width : 50%;
    border-right : 2px solid black;
    /* padding : 20px; */
}

.editor > div, .preview > div:first-of-type {
    padding : 15px 30px;
    background-color : black;
    color : var(--text);
}

.preview > div:nth-of-type(2) {
    padding : 30px;
}


.preview {
    /* padding : 20px; */
    width : 50%;
}

.preview img {
    width : 150px;
}


.editor textarea {
    resize: none;
    width : 100%;
    min-height : 500px;
    border : none;
    outline : none;
    padding : 10px 30px;
}

.preview .prose {
    /* width : 50%; */
    word-wrap: break-word;
    height : 500px;
    padding : 10px 0;
    overflow: auto;

}

.preview .prose::-webkit-scrollbar, .editor textarea::-webkit-scrollbar {
    width: 8px;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background);
  }

.select__note {
    margin : 0!important;
    margin-bottom : 20px!important;
}

#addNote option{
    padding : 20px;
}

.css-1ds5juw-MuiButtonBase-root-MuiButton-root {
    background-color: var(--background)!important;
    float : right!important;
    /* margin-bottom : 25px!important; */
}

.css-v4u0l7-MuiFormControl-root-MuiTextField-root {
    margin-bottom : 12px!important;
}

#addNote {
    display : flex;
    flex-direction: column;
}

#addNote .css-1wo9mtq-MuiFormControl-root, #addNote .css-v4u0l7-MuiFormControl-root-MuiTextField-root { 
    width : 50%!important;
}


#addNote .MuiInputBase-root, #addNote .MuiFormControl-root {
    width : 50%!important;
}

#addNote .MuiButtonBase-root {
    margin : 0!important;
    margin-top : 20px!important;
    background-color: var(--background)!important;
}



@media screen and (max-width: 1024px) {
    .Editor__Preview {
        flex-direction: column;
        border : none;
    }

    .editor {
        border-bottom : 2px solid black;
        border-right : none;
        width : 100%;
        box-shadow: 0 0 2px black;
    }
    
    .preview {
        width : 100%;
        margin-top : 20px;
        box-shadow: 0 0 2px black;
    }

    .css-1ds5juw-MuiButtonBase-root-MuiButton-root {
        width : 100%!important;
    }

    #addNote .MuiInputBase-root, #addNote .MuiFormControl-root, #addNote .MuiButtonBase-root {
        width : 100%!important;
    }
}
