.MuiFormControl-root {
    /* margin-top: 0!important; */
}

.Editor__Preview {
    display : flex;
    /* align-items: center; */
    width : 100%;
    border : 1px solid black;
    /* border-radius: 5px; */
}

.editor {
    width : 50%;
    border-right : 2px solid black;
    /* padding : 20px; */
}

.editor > div, .preview > div:first-of-type {
    padding : 15px 30px;
    background-color : black;
    color : white;
}

.preview > div:nth-of-type(2) {
    padding : 30px;
}


.preview {
    /* padding : 20px; */
    width : 50%;
}

.preview img {
    width : 150px;
}


.editor textarea {
    resize: none;
    width : 100%;
    min-height : 500px;
    border : none;
    outline : none;
    padding : 10px 30px;
}

.preview .prose {
    /* width : 50%; */
    word-wrap: break-word;
    height : 500px;
    padding : 10px 0;
    overflow: auto;

}

.select__note {
    margin : 0!important;
    margin-bottom : 20px!important;
}

/* #addNote input{
    border : none;
    outline : none;
    background-color : transparent;
    border-bottom : 1px solid black;
    padding : 10px 0;
    color : white;
    margin-bottom : var(--fs-lg);
    margin-right : var(--fs-xxl);
} */

/* #addNote select{
    border : none;
    outline : none;
    background-color : transparent;
    border-bottom : 1px solid black;
    padding : 10px 0;
    margin-bottom : var(--fs-lg);
    margin-right : var(--fs-xxl);
} */

#addNote option{
    padding : 20px;
}


/* select {

    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;

    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 1.8em center/1.4em;
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  select:focus {
    outline: none;
  }
  select option {
    color: inherit;
    background-color: black;
    border : none;
  } */


   















  


@media screen and (max-width: 1024px) {
    .Editor__Preview {
        flex-direction: column;
    }

    .editor {
        border-bottom : 2px solid black;
        border-right : none;
        width : 100%;
    }

    .preview {
        width : 100%;
    }
}
