:root {
  --background : #212121;
  --main-background : #2b2b2b;
  --text : #B4B4B4;
  --border : #151515;
  --gray : #606060;
  --outer-shadow: 3px 3px 3px #202125, -3px -3px 3px #2b2b2b;
  --inner-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #2b2b2b;
  --yellow : #FDEF52;

  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #ff1c2e;
  --message-btn: #fff;

  --fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-mdMinus: clamp(1.13rem, 0.47vw + 1rem, 1.28rem);
  --fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --fs-4xl: clamp(3.55rem, 4.04vw + 2.47rem, 6rem);
}

.dark:root {
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
}



*, ::after, ::before {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color : var(--text)
}

main, .main {
  /* width : calc(100vw - 200px); */
  width : 100vw;
  min-height : 100vh;
  padding-left : 200px;
  padding-top : 48px;
  background-color: var(--main-background);
  color : var(--text)
  /* min-height : calc(100vh - 48px); */
}

.container {
  width : 90%;
  margin : auto;
  padding : 4em 0;
}


@media screen and (max-width: 1024px) {
  main, .main {
    padding-left : 0;
  }

  .container {
    width : 90%
  }
}