/* .form__wrapper {
    position : absolute;
    top : 0;
    left : 50%;
    transform : translate(-50%, -100%);
    box-shadow: 0 0 4px var(--text);
    padding : 20px;
    transition : transform 0.5s ease-in-out;
    z-index: 100;
    background-color: blue;
    color : white;
    height : 100vh;
}

.form__wrapper.show {
    transform: translate(-50%, 0);
    transition : transform 0.5s ease-in-out;
} */

.form__wrapper {
    position : fixed;
    /* top : 49px; */
    /* top : 0; */
    right : 0;
    top : 0;
    /* box-shadow: 0 0 4px var(--text); */
    padding : 20px;
    transform : translateX(100%);
    transition : transform 0.5s ease-in-out;
    z-index: 10000;
    background-color: var(--background);
    opacity : 0.98;
    color : var(--text);
    height : 100%;
    /* width : calc(100vw - 200px); */
    width : 100vw;
}

.form__wrapper.show {
    transform: translate(0);
    transition : transform 0.5s ease-in-out;
} 

.form__wrapper form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    height : 100%;
    position: relative;
    width : 50%;
    margin : auto;
}

.form__wrapper .close__form {
    position : absolute;
    right : 20px;
    top : 100px;
    z-index: 1;
    border : 1px solid red;
    padding : 8px;
    color : red;
    cursor: pointer;
    display : flex;
    justify-content: center;
    align-items: center;
}

form > h1 {
    font-size: 32px; 
    text-align: center; 
    margin-bottom: 20px; 
    /* color: black; */
}




.form__update {
    height : calc(100vh - 48px);
    display : flex;
}

.form__update form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 100%;
}

@media screen and (max-width: 1024px) {
    .form__wrapper {

        width : 100vw;
    }
}