
.form__wrapper {
    position : fixed;
    right : 0;
    top : 0;
    padding : 20px;
    transform : translateX(100%);
    transition : transform 0.5s ease-in-out;
    z-index: 1000;
    background-color: var(--background);
    /* opacity : 0.98; */
    color : var(--text);
    height : 100%;
    width : 100vw;
    overflow: hidden;
}

.form__wrapper.show {
    transform: translate(0);
    transition : transform 0.5s ease-in-out;
} 

.form__wrapper form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    height : 100%;
    position: relative;
    width : 50%;
    margin : auto;
}

.form__wrapper .close__form {
    position : absolute;
    top : 100px;
    right : 0;
    z-index: 1;
    cursor: pointer;
}

.form__wrapper .close__form svg {
    color : red!important;
}

form > h1 {
    font-size: var(--fs-lg); 
    text-align: center; 
    margin-bottom: var(--fs-xl); 
    /* color: black; */
}


.MuiPaper-root, .MuiList-root{
    z-index: 11000!important;
}

form label, form input, form svg, #demo-simple-select  {
    color : var(--text)!important;
}

/* .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root svg{
    color : #7DD181!important;
} */

.form__wrapper .alert svg {
    color : inherit!important;
}

.form__wrapper .alert {
    left : 44%;
}

.form__wrapper .loader {
    padding-left: 0;
}

.form__update {
    height : calc(100vh - 48px);
    display : flex;
}

.form__update form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width : 60%;
    margin: auto;
}

/* Date picker */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: var(--background)!important;
    color : var(--text)!important;
}

.css-3dah0e-MuiModal-root-MuiDialog-root .MuiDialog-paper, .css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel, .css-1b9e08i-MuiTypography-root-MuiPickersToolbarText-root.Mui-selected, .css-13vtpvu-MuiTypography-root-MuiPickersToolbarText-root,
.css-1hbyad5-MuiTypography-root, .css-mvmxd9-MuiTypography-root-MuiPickersToolbarText-root,.css-1e4tpwf-MuiTypography-root-MuiPickersToolbarText-root-MuiDateTimePickerToolbar-separator,
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon, .css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button, .css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1b9e08i-MuiTypography-root-MuiPickersToolbarText-root, .css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper  {
    background-color: var(--background)!important;
    color : var(--text)!important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root, .css-53ccts-MuiClockNumber-root, .css-zddqwy-MuiClockNumber-root, .css-jgls56-MuiButtonBase-root-MuiPickersDay-root,  .css-i4bv87-MuiSvgIcon-root {
    color : var(--text)!important;
}

.css-iax6tr-MuiMultiSectionDigitalClock-root .MuiMultiSectionDigitalClockSection-root::-webkit-scrollbar, .css-iax6tr-MuiMultiSectionDigitalClock-root::-webkit-scrollbar {
    width: 8px;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background);
  }

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button.Mui-disabled, .css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled:not(.Mui-selected),
.css-zddqwy-MuiClockNumber-root.Mui-disabled {
    background-color: var(--background)!important;
    color : var(--text)!important;
    opacity : 0.2!important ;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border : 1px solid var(--text)!important;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root, .css-1o9hacb-MuiFormControl-root {
    margin-top : 10px!important;
}




@media screen and (max-width: 1024px) {
    .form__wrapper {
        width : 100vw;
    }

    .form__wrapper form {
        width : 95%;
    }

    .form__wrapper .close__form {
        right: 0px;
        top: 0px;
    }

    .form__wrapper button {
        width : 100%;
    }

    .form__update form{
        width: 95%;
    }

}

