.alert {
    position : fixed;
    top : 65px;
    left : 50%;
    transform: translateY(-50%);
    z-index: 11000!important;
    background-color: var(--background)!important;
    
}

.MuiAlert-message {
    color : var(--text)!important;
}

.alert.MuiAlert-standardSuccess div, alert.MuiAlert-standardSuccess .MuiSvgIcon-root{
    /* color : #2e7d32!important; */
    fill : #2e7d32!important;
}

@media screen and (max-width: 1024px) {
    .alert {
        position : fixed;
        left : 50%!important;
        left : 0;
        transform: translate(-50%);
        top : 40px;
        z-index: 1001;
        width : 90%;
    }
}