body>#root>header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    /* padding : 10px; */
    width: 100vw;
    height: 48px;
    /* left : 200px; */
    border-bottom : 1px solid rgb(24, 24, 24);
    z-index: 99;
    /* box-shadow: var(--outer-shadow); */
    padding: 0 5em;
}

.header__home,
.header__notifications {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__home a {
    display : flex;
    align-items: center;
}

.header__home svg,
.header__notifications svg {
    margin: 0 10px;
    cursor: pointer;
}

.header__notifications button, .header__home button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color : var(--text)
}


.opacityLow, .disable {
    opacity: 0.1;
    cursor: not-allowed !important;
}

.disable svg {
    cursor: not-allowed !important;
}

header svg {
    color: var(--text) !important;
    transition: color 0.3s;
}

header svg:hover {
    color: white !important;
    transition: color 0.3s;
}



@media screen and (max-width: 1024px) {
    body>#root>header {
        width: 100vw;
        left: 0;
        padding: 0;
    }
}