/* nav {
    position : fixed;
    width : 200px;
    background-color: var(--background);
    height : 100vh;
    z-index: 99;
    box-shadow: var(--outer-shadow);
}

nav .nav__wrapper {
    padding : 20px;
}

nav .nav__wrapper ul {
    margin-top : 50px;
}

nav .nav__wrapper ul li {
    list-style-type: none;
    cursor: pointer;
}

nav .nav__wrapper ul li svg{
    vertical-align: middle;
    margin-right : 5px;
}

nav .nav__wrapper ul > li{
    margin : 25px 0 15px;
}

nav .nav__wrapper ul li ul {
    margin : 10px 0;
}

nav .nav__wrapper ul li ul a{
    text-decoration: none;
    color : var(--text);
}

nav .nav__wrapper ul li ul a li{
    margin : 10px 0;
}

@media screen and (max-width: 1024px) {
    nav {
        display : none;
    }
} */



nav {
    position: fixed;
    width: 225px;
    background-color: var(--background);
    margin-top: 48px;
    height: calc(100vh - 48px);
    z-index: 98;
    top : 0;
    left : 0;
    /* box-shadow: var(--outer-shadow); */
}


nav .nav__wrapper ul {
    margin: 40px auto;
    width: 80%;
}


nav .nav__wrapper ul a {
    display: flex;
    margin: 10px 0;
    text-decoration: none;
    color: var(--text);
}

nav .nav__wrapper ul li {
    display: flex;
    align-items: center;
}


nav .nav__wrapper .today svg {
    color: #7DD181!important;
}

nav .nav__wrapper .allTasks svg {
    color: #BDADEA!important
}

nav .nav__wrapper .createNote svg {
    color: #7F7B82!important
}

nav .nav__wrapper .allNotes svg {
    color: #D6CA98!important
}

nav .nav__wrapper .meteo svg {
    color: #4381C1!important;
}

nav .nav__wrapper ul a:nth-of-type(2),
nav .nav__wrapper ul a:nth-of-type(4) {
    margin-bottom: 30px;
}

nav .nav__wrapper ul li svg {
    margin-right: 10px;
    font-size: var(--fs-base);
}

@media screen and (max-width: 1024px) {
    nav {
        width: 100%;
        transform: translate(-102%);
        transition : transform 0.5s;
    }

    nav.active {
        transform: translate(0);
        transition : transform 0.5s;
    }


    nav .nav__wrapper ul a:nth-of-type(2),
    nav .nav__wrapper ul a:nth-of-type(4) {
        margin-bottom: 0px;
    }

    nav .nav__wrapper ul a {
        margin: 25px 0;
    }
}